@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face {
    font-family: SIMPLIFICA;
    src: url("fonts/SIMPLIFICA.ttf");
  }

  @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(20deg);
    }
  }
:root {
    --color-1: hsla(233, 23%, 8%, 1);
    --color-2: hsla(55, 1%, 45%, 1);
    --color-3: hsla(233, 23%, 5%, 1);
    --color-4: hsla(37, 89%, 52%, 1);
    --color-5: hsla(360, 96%, 45%, 1);
    --shadow-1: 0px 0px 20px 15px rgba(0,0,0,0.75);
    --shadow-2: 0px 0px 2px 2px rgba(0,0,0,0.75);
    --border-radius-1: 55px 0px 55px 0px;
}
html, body {
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color-1);
    color: var(--color-2);
    scroll-behavior: smooth;
}
/* For clean fadeIn FadeOut transitions*/
body {
    display: none;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    color: var(--color-4);
}
.social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
/* nav */
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
#navbar #logo {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 10px 24px;
}
#navbar nav a {
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    padding: 15px 15px;
    transition: 0.4s;
}
#navbar nav a:hover {
    background-color: var(--color-2);
    color: var(--color-1);
}
/* Wecolme section */
#Welcome-section {
    background: linear-gradient(rgba(16,17,25,.7),rgba(16,17,25,.7)) repeat-x top/100% 100%,url(../img/hero-1.jpg) 50%/cover no-repeat;
    color: white;
    height: calc(100vh - 57px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-title {
    font-size: 4em;
    border-bottom: 7px double white;
    margin: 10px
}