#projects {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}
.project-tile {
    min-width: 300px;
    width: 30%;
    max-width: 700px; 
    margin: 20px auto;  
    text-align: center;
    background-color: var(--color-3);
}
/* Tags */
.category-tags {
    padding: 25px;
    color: var(--color-1);
    text-align: left;
}
.category-tags span, 
#tags span {
    display: inline-block;
    padding: 5px;
    margin-right:2px;
}
#tags {
    padding: 2.5%;
    color: var(--color-1);
}
.HTML {
    background-color: hsla(360, 96%, 45%, 1);
}
.CSS {
    background-color: hsla(225, 69%, 72%, 1);
}
.FCC {
    background-color: hsla(120, 97%, 25%, 1);
}
.JavaScript {
    background-color: hsla(59, 96%, 60%, 1);
}
.tile-content {
    padding: 5px 5px 20px 5px;
    -webkit-box-shadow: var(--shadow-2);
    -moz-box-shadow: var(--shadow-2);
    box-shadow: var(--shadow-2);
}
.project-title {
    text-decoration: underline;
}
.project-img {
    width: 95%;
    outline: 1px solid var(--color-2);
    margin: auto;
}
.project-img img {
    width: 100%;
}
.project-links {
    height: 10%;
    padding: 15px 5px;
}
.project-links a:hover {
    transform: scale(1.1)
}
.project-links .project-link-view a {
    display: inline-block;
    padding: 10px;  
    margin-right: 5px;

    border-radius: 30px;
    border: 1px solid var(--color-4);
    color: var(--color-4);
}
.project-links .project-link-code a {
    display: inline-block;
    padding: 10px;  
    margin-left: 5px;

    border-radius: 30px;
    border: 1px solid var(--color-4);
    background-color: var(--color-4);
    color: var(--color-1);

    font-weight: bold;
}
/* FreeCodeCamp */
#welcome-section {
    height: 100vh;;
}
#navbar {
    width: 100%;
    background-color: var(--color-1);
    position: fixed;
    top: 0;
}
@media (min-width: 1300px) {
    #page-title {
        font-size: 5em;
    }
    body {
        font-size: 1.5em;
    }
}