h2 {margin:0;}
#welcome {
    height: 90vh;
    width: 80%;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;

    background-color: var(--color-3);
    color: white;

}
#title-container {
    text-align: center;
    margin: auto;
}
#title-container p {
    font-size: 2em;
}
#title-container p.character-t {
    display: inline-block;
    color: var(--color-4);
    font-size: 5em;
}
#Name {
    display: inline-block;
    margin-bottom: 1em;
}
#code-welcome-tab {
    padding: 5%;
    margin: auto;
}
/* Spheres*/
#nav {
    height: calc( 100% - 20px);
    padding-top: 20px;
}
.in-sphere a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 250px;
    height: 250px;
    background-color: var(--color-4);
    color: var(--color-1);

    margin: 25px auto;
    border-radius: 50%;
}
code {
    color: hsla(129, 89%, 44%, 1);
    font-size: 1.5em;
}
code a {
    text-decoration: underline;
}
code a:hover  {
    color: hsla(129, 89%, 24%, 1)
}
/* Desktop */ 
@media (min-width: 720px) {
    #welcome {
        flex-direction: row;
    }
}